# In die Home-Assistant-config/secrets.yaml übernehmen (nicht versionieren).

rd6030w_host: 192.168.1.50
rd6030w_status_url: "http://192.168.1.50/status"
rd6030w_set_v_url: "http://192.168.1.50/set_v"
rd6030w_set_i_url: "http://192.168.1.50/set_i"
rd6030w_toggle_url: "http://192.168.1.50/toggle_out"
